	<section class="pt40 color2 shadowBox iosBg ">
	        <div class="container">
	          <div class="row">
					<h1>App Intro</h1>

				<div class="row">
					<div class="col-md-6">
						<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

					</div>
					<div class="col-md-6">
						<iframe width="480" height="360" src="//www.youtube.com/embed/QH2-TGUlwu4" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>           
	          </div>
	        </div>
	      </section>




			<section id="services" class="color1 shadowBox">
				<div class="container pb30 pt15">
					<div class="row">
						<div class="col-sm-6">
							<article class="boxIcon">
								<a href="" id="button-home-latestProjects">
									<i class="icon-heart iconBig iconRounded"></i>
									<h2>Add a Project</h2>
								</a>
							</article>
						</div>
						<div class="col-sm-6">
							<article class="boxIcon">
								<a href="#">
									<i class="icon-thumbs-up iconBig iconRounded"></i>
									<h2>Become a Volunteer</h2>
								</a>
							</article>
						</div>
						
					</div>
				</div>
			</section>

			

			<section class="container" data-nekoanim="fadeInRight" id="home-latestProjects">





						<div class="row team mt30 mb30">
								<div class="col-sm-12">
									<h2>Latest Projects </h2>
								</div>
								
								<div class="col-sm-3" ng-repeat="project in projects">
									<article>
										<div><img src="images/team/team-corporate-2.jpg" alt="" class="img-responsive"></div>
										<div class="boxContent text-center">
											<h3>{{project.name}}</h3>
											<p>{{project.desc}}</p>
										</div>
									</article>
								</div>
								
							</div>
								<div class="text-center col-md-4 col-md-offset-4">
								<button type="button" class="btn btn-primary btn-lg ">Add A Project</button>
								</div>

			</section>








	        